---
import persona from '../assets/testimonials/persona.png'
import TMborde from '../assets/testimonials/borde.png'
import arrowleft from '../assets/testimonials/arrowleft.png'
import arrowright from '../assets/testimonials/arrowright.png'
import amazon from '../assets/testimonials/amazon.png'
---

<article
	class='relative flex flex-col md:flex-row justify-evenly items-center mt-12 md:mt-20'
>
	<img id='arrowleft' src={arrowleft.src} class='w-[30px] h-[30px] cursor-pointer' />
	<div class='w-[300px] md:w-[500px] h-[450px] md:h-[195px]'>
		<div
			id='testimonio'
			class='flex flex-col md:flex-row items-center md:items-start mt-12 md:mt-0 justify-center'
		>
			<picture class='relative w-[223px]'>
				<img
					src={TMborde.src}
					class='absolute -top-[2.7rem] w-[223px] h-[228px]'
				/>
				<img src={persona.src} class='mx-auto w-[140px] h-[143px]' />
			</picture>
			<div
				class='flex flex-col items-center md:items-start  my-12 gap-6 md:gap-0 md:my-0 justify-between h-[161px]'
			>
				<div class='text-center md:text-start'>
					<h4 class='text-[26px] text-blanco'>Jeff Bezos</h4>
					<p class='text-[12px] text-blanco max-w-[300px] md:max-w-[338px]'>
						“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu
						turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus
						nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum
						tellus elit sed risus. Maecenas eget condimentum velit, sit amet
						feugiat lectus.”
					</p>
				</div>
				<img src={amazon.src} width={amazon.width} height={amazon.height} />
			</div>
		</div>
		<div
			id='testimonio'
			class='hidden flex-col md:flex-row items-center md:items-start mt-12 md:mt-0 justify-center'
		>
			<picture class='relative w-[223px]'>
				<img
					src={TMborde.src}
					class='absolute -top-[2.7rem] w-[223px] h-[228px]'
				/>
				<img src={persona.src} class='mx-auto w-[140px] h-[143px]' />
			</picture>
			<div
				class='flex flex-col items-center md:items-start my-12 gap-6 md:gap-0 md:my-0 justify-between h-[161px]'
			>
				<div class='text-center md:text-start'>
					<h4 class='text-[26px] text-blanco'>Jeffry Bezos</h4>
					<p class='text-[12px] text-blanco max-w-[300px] md:max-w-[338px]'>
						“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu
						turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus
						nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum
						tellus elit sed risus. Maecenas eget condimentum velit, sit amet
						feugiat lectus.”
					</p>
				</div>
				<img src={amazon.src} width={amazon.width} height={amazon.height} />
			</div>
		</div><div
			id='testimonio'
			class='hidden flex-col md:flex-row items-center md:items-start mt-12 md:mt-0 justify-center'
		>
			<picture class='relative w-[223px]'>
				<img
					src={TMborde.src}
					class='absolute -top-[2.7rem] w-[223px] h-[228px]'
				/>
				<img src={persona.src} class='mx-auto w-[140px] h-[143px]' />
			</picture>
			<div
				class='flex flex-col items-center md:items-start my-12 gap-6 md:gap-0 md:my-0 justify-between h-[161px]'
			>
				<div class='text-center md:text-start'>
					<h4 class='text-[26px] text-blanco'>Jeff Picos</h4>
					<p class='text-[12px] text-blanco max-w-[300px] md:max-w-[338px]'>
						“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu
						turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus
						nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum
						tellus elit sed risus. Maecenas eget condimentum velit, sit amet
						feugiat lectus.”
					</p>
				</div>
				<img src={amazon.src} width={amazon.width} height={amazon.height} />
			</div>
		</div>
	</div>
	<img id='arrowright' src={arrowright.src} class='w-[30px] h-[30px] cursor-pointer' />
</article>
<script>
	let testimonial = 0
	const arrowleft = document.getElementById('arrowleft')
	const arrowright = document.getElementById('arrowright')
	const testimonialsRAW = document.querySelectorAll('#testimonio')
	const testimonials = [...testimonialsRAW]

	function cambiarTestimonio(left) {
		if (testimonial < 5 && testimonial >= 0) {
			testimonials[testimonial].classList.add('hidden')
			testimonials[testimonial].classList.remove('flex')
			if (left) {
				if (testimonial === 0) {
					testimonials[testimonials.length - 1].classList.add('flex')
					testimonials[testimonials.length - 1].classList.remove('hidden')
					testimonial = testimonials.length - 1
				} else {
					testimonials[testimonial - 1].classList.add('flex')
					testimonials[testimonial - 1].classList.remove('hidden')
					testimonial--
				}
			} else {
				if (testimonial == testimonials.length - 1) {
					testimonials[0].classList.add('flex')
					testimonials[0].classList.remove('hidden')
					testimonial = 0
				} else {
					testimonials[testimonial + 1].classList.add('flex')
					testimonials[testimonial + 1].classList.remove('hidden')
					testimonial++
				}
			}
		}
	}

	arrowleft.addEventListener('click', () => cambiarTestimonio(true))
	arrowright.addEventListener('click', () => cambiarTestimonio(false))
</script>
<style>
	#testimonio {
		position: absolute;
		animation: fade 300ms;
	}
	@keyframes fade {
		0% {
			opacity: 0;
			transform: translateX(200px);
		}
		100% {
			opacity: 1;
			transform: translateX(0px);
		}
	}
</style>
